@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Outfit", sans-serif;
    padding: 50px 150px;
    position: relative;
}

.logo {
    cursor: pointer;
}

img {
    width: 130px;
    margin-bottom: 80px;
}

h1, h3, p, li, label {
    color: white;
    font-family: "Outfit", sans-serif; 
}

h1 {
    font-size: 55px;
    font-weight: 400;
}

h3{
    margin-top: 30px;
    color: #d20094;
}

p, li {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    
}

p{
    padding:10px 400px 40px 0;
}

ul {
    margin-left: 20px;
    padding-bottom: 30px;
}

#nascondi {
    display: none;
}

#nascondi.procedi {
    display: inline-block;
    position: absolute;
    right:100px;
    background-color: #00FFFF;
    padding: 12px 37px;
    bottom: 40px;
    border: none;
}

#nascondi.procedi:hover {
    box-shadow: 0 0 10px 4px #00FFFF;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-family:  "Inter", sans-serif;
}

label {
    font-size: 13px;
}

div {
    display: flex;
    align-items: center;
}

#check {
    display: none;
    color: white;
}

#check.mostra {
    display: block;
}

#checkbox {
    display: inline-block;
    width: 13px; /* Larghezza della checkbox */
    height: 13px; /* Altezza della checkbox */
    border: 2px solid white; /* Colore del bordo della checkbox */
    background-color: transparent; /* Colore di sfondo trasparente della checkbox non selezionata */
    margin-right: 10px;
    vertical-align:sub;
    cursor: pointer;
}
  
span {
    font-weight: 700;
}

.h1Domande {
    text-align: center;
    font-size: 45px;
    padding: 0 45px;
}

.risposte {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.risposte button {
    width: 300px;
    height: 60px;
    margin: 10px 30px;
    border-radius: 30px;
    background-color: #ffffff2e;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.risposte button:hover{
    background-color: #d200937d;
}

.risposte button:active, .risposte button:focus {
    background-color: #d20094;
}

.counter {
    text-align: center;
    padding: 10px 0;
    margin-top:15px;
}

p span {
    color: #d20094;
}

/*IPOTESI PAGINA 3 RISULTATO*/

#color {
    background-color: #000000de;
}
.risultato {
    margin-top: 50px;
    flex-direction: column;
}

div h2 {
    margin-top: 115px;
    padding: 40px;
    text-align: center;
    font-size: 45px;
    border: 2px solid white;
    border-radius: 100%;
    color: white;
    background-color: #000000de;
}

#timer {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    opacity: 1;
    animation: heartbeatAnimation 1s linear infinite;
}


@keyframes coriandoliAnimation {
    to {
        transform: translate(0, 100vh);
    }
}

.coriandoli-container {
    position: absolute;
    animation: coriandoliAnimation 2s linear;
}

.coriandoli {
   animation:  coriandoliAnimation 2s linear;
}

.coriandoli2 {
    position: absolute;
}

#timer-circle {
    position: fixed;
    top: 100px;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    animation: timerCircleAnimation linear forwards;
    transition: opacity 0.5s ease; /* Puoi regolare la durata e la funzione di transizione qui */
    padding-top: 25px;
}

#timer-circle div {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes timerCircleAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} 

@keyframes heartbeatAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}