@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Outfit", sans-serif;
    padding: 45px 150px 30px 150px;
    position: relative;
}

.logo {
    cursor: pointer;
    position: absolute;
    top: 40px;
    left:40px;
    width: 130px;
    margin-bottom: 50px;

}

main {
    padding-top: 100px;
}

.campo-domande {
    text-align: center;
    margin-top: 100px;
}

h1, h3, p, li, label {
    color: white;
    font-family: "Outfit", sans-serif; 
}

h1 {
    font-size: 60px;
    font-weight: 400;
}

.grassetto {
    margin-bottom: 50px;
    height:50px;
}

h3{
    margin-top: 30px;
    color: #d20094;
}

p, li {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 16px;
    
}

p{
    padding:10px 400px 40px 0;
}

ul {
    margin-left: 20px;
    padding-bottom: 30px;
}

#nascondi {
    display: none;
}

#nascondi.procedi {
    display: inline-block;
    position: absolute;
    right:100px;
    background-color: #00FFFF;
    padding: 12px 37px;
    bottom: 40px;
    border: none;
}

#nascondi.procedi:hover {
    box-shadow: 0 0 10px 4px #00FFFF;
    cursor: pointer;
}

#nascondi.procedi {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

#nascondi.procedi-rotola {
    -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) sboth;
}

#nascondi.procedi-pulsa {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

#nascondi.procedi-chiudi {
    -webkit-animation: roll-out-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: roll-out-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes roll-out-blurred-right {
        0% {
            transform: translateX(0) rotate(0deg);
            filter: blur(0);
            opacity: 1;
        }
        100% {
            transform: translateX(1000px) rotate(720deg);
            filter: blur(50px);
            opacity: 0;
        }
    
}


a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-family:  "Inter", sans-serif;
    font-size: 16px;
}

label {
    font-size: 13px;
}

div {
    display: flex;
    align-items: center;
}

#check {
    display: none;
    color: white;
}

#check.mostra {
    display: block;
}

#checkbox {
    display: inline-block;
    width: 13px; /* Larghezza della checkbox */
    height: 13px; /* Altezza della checkbox */
    border: 2px solid white; /* Colore del bordo della checkbox */
    background-color: transparent; /* Colore di sfondo trasparente della checkbox non selezionata */
    margin-right: 10px;
    vertical-align:sub;
    cursor: pointer;
}
  
span {
    font-weight: 700;
}

.h1Domande {
    text-align: center;
    font-size: 45px;
    padding: 0 45px 0px 0;
}

.risposte {
    padding: 20px 100px 0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.risposte button {
    width: 300px;
    height: 60px;
    margin: 10px 30px;
    border-radius: 30px;
    background-color: #ffffff2e;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.risposte button:hover{
    background-color: #900080;
}

.risposte button:active, .risposte button:focus {
    background-color: #d20094;
}

.counter {
    text-align: center;
    padding: 10px 0;
    position: relative;
    top: 100px; 
}

#counter {
    color: white;
}

p span {
    color: #d20094;
}

#color {
    background-color: #000000de;
}
.risultato {
    margin-top: 50px;
    flex-direction: column;
}

div h2 {
    margin-top: 115px;
    padding: 40px;
    text-align: center;
    font-size: 45px;
    border: 2px solid white;
    border-radius: 100%;
    color: white;
    background-color: #000000de;
}

#timer {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    opacity: 1;
    animation: heartbeatAnimation 1s linear infinite;
}


@keyframes coriandoliAnimation {
    to {
        transform: translate(0, 100%);
    }
}

.coriandoli-container {
    position: absolute;
    animation: coriandoliAnimation 3s linear;
}

.coriandoli {
    animation: coriandoliAnimation 3s linear;
}

.coriandoli2 {
    position: absolute;
}

#timer-circle {
    position: fixed;
    top: 100px;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    animation: timerCircleAnimation linear forwards;
    transition: opacity 0.5s ease; /* Puoi regolare la durata e la funzione di transizione qui */
    padding-top: 25px;
}

#timer-circle div {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes timerCircleAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
} 

@keyframes heartbeatAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#myimage {
    display: none;
    min-width: 50%;
    position: relative;
    width: 130px;
    border-radius: 50px;
    box-shadow: 0 0 13px 11px #900080;
    left: 25%;
    -webkit-animation: bounce-in-bck 1.1s both;
            animation: bounce-in-bck 1.1s both;

}

#myimage.mostraImg {
    display: inline-block;
}

#myAudio, #myAudio2 {
    display: none;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes domanda {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.domande {
    animation: domanda 0.8s linear forwards;
}

@-webkit-keyframes bounce-in-bck {
    0% {
      -webkit-transform: scale(7);
              transform: scale(7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(1.24);
              transform: scale(1.24);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(1.04);
              transform: scale(1.04);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-bck {
    0% {
      -webkit-transform: scale(7);
              transform: scale(7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(1.24);
              transform: scale(1.24);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(1.04);
              transform: scale(1.04);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
}

 @-webkit-keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  